/* Write your CSS here */
.button {
  background-color: #c4c4c4;
  background-color: transparent;
  border-style: solid;
  border-radius: 7px;
  border-width: 2px;
  border-color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 190px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 7px;
}
